<app-header></app-header>
<section class="hero is-fullheight hero-sec overlay_bg">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title has-text-white is-size-1">
        Todo List
      </p>
      
    </div>
  </div>
</section>

<section>
     <div class="container"> 
          <div class="column is-6 m-auto">
            <div class="box-st box">
              <form> 
                <div class="field is-grouped"> 
                  <p class="control is-expanded">
                    <input type="text" placeholder="Enter your list..." class="input" #task/>
                   </p>
                   
                   <button (click)="addTask(task.value)" class="button is-info">
                    <span class="material-symbols-outlined">add</span></button>
                     </div>

                 </form>
             </div>
         </div>
     </div>
</section>

<section class="sec-pdd">
  <div class="container">
    <div class="column is-6 m-auto"> 
         <div class="list-st">

<div *ngFor="let item of list">
   <input type="checkbox" id="chk-btn">
    <div class="box1 box has-text-white">{{item.name}}</div>
    <span (click)="removeTask(item.id)"><i class="fa fa-trash-o color-red" style="font-size:18px"></i></span>
    <hr>
    </div>
    </div>
    </div>
    </div>
    </section>


<app-footer></app-footer>
<!----
<section>
  <div class="container"> 
    <div class="column is-6 m-auto">
  <div class="box-st box">

    <form>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Enter your todo">
        </p>
        <p class="control">
         <a class="button is-info ">
           <span class="material-symbols-outlined">add</span>
           
          </a>
          <button type="submit">Add</button>
        </p>
      </div>
    </form>

    </div>
  </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="column is-6 m-auto"> 
         <div class="list-st">
                <div class="completed" *ngFor="let todo for todos">
                   <i class="fa fa-check check-box check-st"></i>
                     
                   <div>{{todo.text}}</div>
                </div>
                
                <div class="controls">
<div class="control-btn">
  <span><i class="fa fa-edit" style="font-size:18px"></i></span>
  <span><i class="fa fa-trash-o" style="font-size:18px"></i></span>
</div>
                </div>
          </div>

  

  </div>
</div>
</section>
-->